extends layout
block content
  br
  br
  br
  br
  br
  br
  div(class="row")
    div(class="col s12 m8 l6   offset-m2 offset-l3")
      div(class="card")
        div(class="progress" id="cargar")
          div(class="indeterminate" )
        form(action="/autenticar" method="post")
          div(class="card-content")
            h5 Iniciar Sesión
              div(class="input-field")
                label Nick
                input(type="text" class="validate" name="nick")
              div(class="input-field")
                label contraseña
                input(type="password" class="validate"  id="password" name="contrasena")
          div(class="card-action")
            button(type="submit" class="btn-flat orange-text" id="btnIniciarSesion") Iniciar Sesión
            a(href="/registrar" class="btn-flat blue-text") Registrarme
  include footer
  script.
    $(document).ready(function(){
      $("#cargar").hide();
      
      $("#btnIniciarSesion").click(function(){
          $("#cargar").show();
      });
      
    })
   
