footer.page-footer.deep-purple.lighten-1
  .container
    .row
      .col.l6.s12
        h5.white-text Agenda
        p.grey-text.text-lighten-4
          | Accede todo lo que quieras a tu organizada y limpia lista de Contactos.
      .col.l4.s12
        h5.white-text Comienza ya!
        ul
          li
            a.white-text(href='/registrar' class="waves-effect waves-light btn deep-purple lighten-2") Registrarme
  .footer-copyright
    .container
      | 2017  Edgar Guzmán
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
