extends layout

block content
  #index-banner.section.no-pad-bot
  .container
    br
    br
    h1.header.center.blue-text.text-darken-4 Agenda
    .row.center
      h5.header.col.s12.light Manten tus contactos cerca de ti.
    .row.center
      a#download-button.btn-large.waves-effect.waves-light.blue.darken-4(href='/autenticar') Iniciar
    br
    br
  include footer
