extends layout
block content
  br
  br
  br
  br
  br
  br
  div(class="row")
    div(class="col s12 m8 l6   offset-m2 offset-l3")
      form(method="post" action="/registrar")
        div(class="card")
          div(class="progress" id="cargar")
            div(class="indeterminate" )
          div(class="card-content")
            h5 Registrar
              div(class="input-field")
                label Nick
                input(type="text" class="validate" name="nick")
              div(class="input-field")
                label Contraseña
                input(type="password" class="validate" name="contrasena")
          div(class="card-action")
            button(type="submit" class="btn-flat orange-text" id="btnRegistar") Registrar
  include footer
  script.
    $(document).ready(function(){
      $("#cargar").hide();
      
      $("#btnRegistar").click(function(){
          $("#cargar").show();
      });
      
    })
