extends layout

block content
  
  div(class="fixed-action-btn")
    a(class="modal-trigger waves-effect waves-light purple btn-floating btn-large hoverable" href="#modalAgregar")
      i(class="large material-icons") add
  div(class="card-panel")    
    div(class="row")
      div(class="col s6")
        h3.blue-text.text-darken-4 Categorias
        table(class="responsive-table  striped")
          thead
            tr
              th Id
              th Nombre
              th Opciones
          tbody(data-bind="foreach: categorias")
            tr
              td(data-bind="text: idCategoria")
              td(data-bind="text: nombreCategoria")
              td
                a(class="btn waves-effect waves-light yellow darken-3" data-bind="click: $root.cargar")
                  i(class="material-icons prefix") mode_edit
                a(class="btn waves-effect waves-light red" data-bind="click: $root.eliminar")
                  i(class="material-icons prefix") delete
      div(data-bind="if: categoriaCargada" class="col s6")
        h4.blue-text.text-darken-4 Editar Categoria
        form(data-bind="submit: editar")
          div(class="row")
            div(class="input-field")
              i(class="material-icons prefix") perm_identity
              input(type="text" placeholder="Nombre" class="validate"  id="inputNombre" data-length="30" data-bind="value: categoriaCargada().nombreCategoria")
          div(class="row")
            div(class="input-field center")
              button(class="btn-large waves-effect waves-light blue darken-4" type="submit") Editar
  div(class="modal" id="modalAgregar")
    form(data-bind="submit: agregar")
      div(class="modal-content")
        h4.header.blue-text.text-darken-4 Agregar categoria
        div(class="input-field")
          input(type="text" class="validate"  id="nombreCategoria" data-length="30" data-bind="value: nuevaCategoria.nombreCategoria")
          label(for="nombreCategoria") Nombre
      div(class="modal-footer")
        button(class="modal-action modal-close  btn-flat orange-text" type="submit") Agregar
  include footer
  script(src="/javascripts/categoriaCliente.js")
  script.
    $(document).ready(function() {
      $('input#inputNombre').characterCounter();
      $('.modal').modal();
    });
