extends layout

block content
  div(class="fixed-action-btn")
    a(class="modal-trigger waves-effect waves-light purple btn-floating btn-large hoverable" href="#modalAgregar")
      i(class="large material-icons") add
  div(class="card-panel")    
    div(class="row")
      div(class="col s12")
        h3.blue-text.text-darken-4 Lista de contactos
        table(class="responsive-table highlight striped")
          thead
            tr
              th Nombre
              th Apellido
              th Telefono
              th Direccion
              th Correo
              th Categoria
              th
          tbody(data-bind="foreach: contactos")
            tr
              td(data-bind="text: nombre")
              td(data-bind="text: apellido")
              td(data-bind="text: telefono")
              td(data-bind="text: direccion")
              td(data-bind="text: correo")
              td(data-bind="text: Categoria")
              td
                a(class="btn waves-effect waves-light yellow darken-3" data-bind="click: $root.cargar")
                  i(class="material-icons prefix") mode_edit
                a(class="btn waves-effect waves-light red" data-bind="click: $root.eliminar")
                  i(class="material-icons prefix") delete
    div(class="row" data-bind="if: contactoCargado")
      h4.blue-text.text-darken-4 Editar Contacto
      form(class="col s12" data-bind="submit: editar")
        div(class="row")
          div(class="input-field col s6")
            i(class="material-icons prefix") perm_identity
            input(type="text"  placeholder="Nombre"  class="validate"  id="inputNombre" data-length="30" data-bind="value: contactoCargado().nombre")
            
          div(class="input-field col s6")
            i(class="material-icons prefix") perm_identity
            input(type="text"   placeholder="Apellido" class="validate" id="inputApellido" data-length="30" data-bind="value: contactoCargado().apellido")
          
        div(class="row")
          div(class="input-field col s12")
            i(class="material-icons prefix") room
            input(type="text"  placeholder="Direccion" class="validate" id="inputDireccion" data-length="50" data-bind="value: contactoCargado().direccion")

        div(class="row")
          div(class="input-field col s6")
            i(class="material-icons prefix") phone
            input(type="text"  placeholder="Telefono" class="validate"  id="inputTelefono" data-length="30" data-bind="value: contactoCargado().telefono")

          div(class="input-field col s6")
            i(class="material-icons prefix") email
            input(type="email"  placeholder="Correo" class="validate" id="inputCorreo" data-length="30" data-bind="value: contactoCargado().correo")
            label(for="inputCorreo" data-error="Ingresa una direccion valida") 
        div(class="row")
          div(class="input-field col s6")
            select(class="browser-default" data-bind="options: categorias,  optionsText: 'nombreCategoria',  value: categoriaSeleccionada")
            
          div(class="input-field col s6 center")
            button(class="btn-large waves-effect waves-light blue darken-4" type="submit") Editar
  div(class="modal modal-fixed-footer" id="modalAgregar")
    form(data-bind="submit: agregar")  
      div(class="modal-content")
        h4(class="blue-text text-darken-4") Agregar Contacto
        div(class="row")
          div(class="input-field col s6")
            i(class="material-icons prefix") perm_identity
            input(type="text" class="validate"  id="nombre" data-length="30" data-bind="value: nuevoContacto.nombre")
            label(for="nombre") Nombre
          div(class="input-field col s6")
            i(class="material-icons prefix") perm_identity
            input(type="text" class="validate" id="apellido" data-length="30" data-bind="value: nuevoContacto.apellido")
            label(for="apellido") Apellido
        div(class="row")
          div(class="input-field col s12")
            i(class="material-icons prefix") room
            input(type="text" class="validate" id="direccion" data-length="50" data-bind="value: nuevoContacto.direccion")
            label(for="direccion") Direccion
        div(class="row")
          div(class="input-field col s4")
            i(class="material-icons prefix") phone
            input(type="text" class="validate"  id="telefono" data-length="30" data-bind="value: nuevoContacto.telefono")
            label(for="telefono") Telefono
          div(class="input-field col s5")
            i(class="material-icons prefix") email
            input(type="email" class="validate" id="correo" data-length="30" data-bind="value: nuevoContacto.correo")
            label(for="correo" data-error="Ingresa una direccion valida" ) Correo
          div(class="input-field col s3")
            select(class="browser-default" data-bind="options: categorias,  optionsText: 'nombreCategoria',  value: categoriaSeleccionada2")
            
          
      div(class="modal-footer")
        button(class="btn-flat waves-effect waves-light blue-text text-darken-4 modal-action modal-close" type="submit") Agregar
  include footer
  script(src="/javascripts/contactoCliente.js")
  script.
    $(document).ready(function() {
      $('select').material_select();
      $('input#inputNombre, input#inputApellido, input#inputDireccion, input#inputTelefono, input#inputCorreo, input#Nombre, input#Apellido, input#Direccion, input#Telefono, input#Correo').characterCounter();
      $('.modal').modal();
    });
