extends layout

block content
  div(class="card-panel")
    div(class="row")
      div(class="col s12 m3 l4")
        div(class="row")
          img(class="circle responsive-img z-depth-2" src="https://gulfpower.streetlightoutages.com/common/images/organizations/_default/unavailablePhoto.png")
        div(class="row center")
          a(class="modal-trigger waves-effect waves-red btn-flat" href="#modalEliminarCuenta") Eliminar Cuenta
      div(class="col s12 m9 l8")
        h2(class="header blue-text text-darken-4") Editar Perfil
        form(data-bind="submit: editar")
          div(class="input-field")
            i(class="material-icons prefix") perm_identity
            input(type="text" class="validate"  id="inputNick" data-bind="value: nuevoUsuario.nick")
            label(for="inputNick") Nick
          div(class="input-field")
            i(class="material-icons prefix") vpn_key
            input(type="password" class="validate"  id="inputPass" data-bind="value: nuevoUsuario.contrasena")
            label(for="inputPass") Contraseña
          div(class="input-field")
            button(type="submit" class="btn blue darken-4 white-text waves-effect waves-light") Actualizar Perfil
  div(class="modal" id="modalEliminarCuenta")
    form(data-bind="submit: eliminarCuenta")
      div(class="modal-content")
        h4.header.blue-text.text-darken-4 Estas seguro que deseas eliminar tu cuenta en AgendaIN6AM?
      div(class="modal-footer")
        button(class="modal-action modal-close  btn-flat red-text" type="submit") Eliminar Cuenta
  include footer
  script(src="/javascripts/editarPerfil.js")
  script.
    $(document).ready(function() {
      $('input#inputNombre').characterCounter();
      $('.modal').modal();
    });
