footer.page-footer.light-blue.lighten-1
  .container
    .row
      .col.l4.s12
        h5.white-text Agenda
        p.grey-text.text-lighten-4
          | Accede todo lo que quieras a tu organizada lista de Contactos.
      .col.l4.s12
        h5.white-text Mi perfil
        ul
          li
            a.white-text(href='/perfil' class="waves-effect waves-light btn light-blue lighten-2") Editar Perfil
      .col.l4.s12
        h5.white-text Administrar...
        ul
          li
            a.white-text(href='/contacto' class="waves-effect waves-light btn light-blue lighten-2") Contactos
          li
            br
          li
            a.white-text(href='/categoria' class="waves-effect waves-light btn light-blue lighten-2") Categorias
  .footer-copyright
    .container
      | 2017  Edgar Guzmán
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
script(src="/knockout/knockout-latest.js")
