extends layout

block content
  br
  br
  br
  h4(data-bind="text: usuarioLogeado.nickUsuarioLogeado" class=" header center blue-text text-darken-4")
  .row.center
    h5.header.col.s12.light Inicia administrando tus contactos
  .row.center
    a.btn-large.waves-effect.waves-light.blue.darken-4(href='/contacto') Vamos
  br
  br
  br
  include footer
  script(src="/javascripts/index.js")          
              
  
