doctype html
html
  head
    title Agenda
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body(class="grey lighten-4")
    nav.deep-purple.lighten-1(role='navigation').nav-wrapper.container
      a#logo-container.brand-logo(href='/') Agenda
      ul.right.hide-on-med-and-down
        li
          a(href='/contacto') Contactos
        li
          a(href='/categoria') Categorias
        li
          a(href='/perfil') Mi perfil
        li
          a(href='/salir') Cerrar Sesion
          
      ul#nav-mobile.side-nav
        li
          a(href='/contacto') Contactos
        li
          a(href='/categoria') Categorias
        li
          a(href='/perfil') Mi perfil
        li
          a(href='/salir') Cerrar Sesion
      a.button-collapse(href='#', data-activates='nav-mobile')
        i.material-icons menu
    
    div(class="container")
      block content
        
        
      script.
        $( document ).ready(function(){
          $(".button-collapse").sideNav();
        })
